NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_NAME=techstore
DB_USER=techstore_app
DB_PASSWORD=senha_do_banco_aqui

MYSQL_ROOT_PASSWORD=senha_do_root_mysql_aqui

PAYMENT_API_KEY=chave_de_pagamento_aqui

INTERNAL_API_TOKEN=token_da_api_interna_aqui
